*{
  margin: 0;
  padding: 0;
  
}

.secondheading {
    position: relative;
    text-align: center;
    top: 20%;
    /* font-size:26px; */
    /* left: 1%; */
    /* font-size: x-large; */
    display: flex;
    justify-content: center;
}
/* @media(max-width: 700px){
  .secondheading{
    font-size: 21px;
  }
  .thirdheading{
    font-size: 26px;
  }
  .fourthheading{
    font-size: 21px;
  }
}
@media(max-width: 400px){
  .secondheading{
    font-size: 17px;
  }
} */


.ABOUT{
  padding: 0px;
   
   margin-left: 1px;
   margin-right: -8px;
   
}

    #abc{
        /* font-family: cursive; */
        font-family: "Roboto", sans-serif;
        padding: 17px;
        
        font-size: x-large;
    }
    .aboutbox1{
      
      background-color: white;
      padding: 37px;
      border-radius: 10px;
      margin-left: 54px;
      margin-right: 44px;
    }
    #p1{
      /* font-family: cursive; */
      font-family: "Roboto", sans-serif;
      /* text-align:center; */
      font-size: x-large;
       /* margin: 1px 100px;z */
      padding: 17px;
      /* margin-left: 70px; */
      /* margin-top: 50px; */
      display: flex;
      /* margin-top: 100px; */
      /* margin-left: 2px; */
      /* margin-right:0px; */
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      margin-left: 54px;
      margin-right: 35px;
    }



    #iamg{
      width: 40vw; height: 30vw; margin-right: 20px;
      border-radius: 14px;
    }
    #iamgg{
      width: 40vw; height: 30vw; margin-right: 20px;
      border-radius: 14px;
    }
    #iamggg{
      width: 40vw; height: 30vw; margin-right: 20px;
      border-radius: 14px;
    }



    .para4{
      background-color: white;
      margin-left: 20px; 
      margin-right: 80px;
      margin-bottom: 20px;
      font-weight: 1px;
      font-size: larger;
      padding: 22px;
      border-radius: 10px;
      font-family: "Roboto", sans-serif;
      color: black;
    }
    .para5{
      background-color: white;
      margin-left: 20px; 
      margin-right: 80px;
      margin-bottom: 20px;
      font-family: "Roboto", sans-serif;
      color: black;
      font-weight: 1px;
      font-size: larger;
      padding: 22px;
      border-radius: 10px;
    }
    .content1{
      display: flex;
      font-size: ;
    }
    .aboutimg1{
      margin-top: 5px;
      margin-left: 24px;
      padding: 0px;
      display: block;
      display: flex;
      
      
    }
    /* .aboutimg2{
      margin-top: 5px ;
      margin-left: 80px;
     padding: 8px;
       display: block;
    } */
    .aboutimg{
      display: flex;
      /* margin-top: 100px; */
      /* margin-left: 2px; */
      /* margin-right: 30px; */
      background-color: white;
      /* border-radius: 20px; */
      padding: 30px;
      /* border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; */
      border-radius: 10px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin-bottom: 28px;
      margin-left: 54px;
      margin-right: 35px;
    }
    
      
    /*responsive*/
@media(max-width: 1470px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 400px){
  .footer-col{
    width: 100%;
}
}

@media only screen and (max-width: 600px) {


.aboutimg1 img {
  width: 100%; /* Make images fill the width of their container */
  height: auto; /* Maintain aspect ratio */
  margin: 10px 0; /* Add margin above and below images */
}
 
}

@media only screen and (max-width: 800px) {
  .aboutimg1 {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin-bottom: 23px;
    height: auto;
  }
  .aboutimg{
    justify-content: center;
    padding: 0;
  }

  #iamg{
    width: auto;
    height: auto;
  }
  #iamgg{
    width: auto;
    height: auto;
  }
  #iamggg{
    width: auto;
    height: auto;
  }
  
}
    