
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.all{
  /* background-color: white; */
  background-color: #070f2b;
  
    
}
@media  screen and (min-width:1237px) {
  all{
    display: block;
  }
  
} 





#para1{
  font-size: 2.2vw ;
  margin: 80px;
  padding: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 392;
  color: white;

}
#para2{
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-size:x-large;
  width: 100%;
  
  color: black;
  text-align: center;
  
}
#para3{
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 1px;
  font-size: 1.3vw;
  padding: 5px ;
  color: black;
}


.HOME{
  width: 105vw;
  margin-right: 30px;
  /* padding: 55px; */
  /* margin-left: 4vw; */
  /* margin-bottom: -35px; */
  
  
}
.immmg{
  width: 255vw;
  height: 30vw;
  margin-right: 20px;
  border-radius: 23px;
}
.home2{
  /* background-color: rgba(244, 190, 191, 0.67); */
  /* background-color: rgba(213, 184, 211, 0.83); */
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 92.9vw;
  /* margin-left: 20px; */
  margin-left: 3.5vw;

}

.firstheading{
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 2.5vw;
  
}
.home22img{
  display: block;
}

#welcome-text{
  color: #13052a;
 margin-top: 60px;
 display: block;
 min-height: 100vh;
 margin-left: -2px;
 font-family: "Roboto", sans-serif;
 
}

.container1:hover{
  background: #9290c3;
}
.dynamic-txt{
  border-right: 5px solid;
  font-family: "Roboto", sans-serif;
  width: 100%;
  white-space: nowrap;
  font-size: 3vw;
  margin-left: 100px;
  overflow: hidden;
  animation: 
            typing 1s steps(41),
            cursor .5s step-end infinite alternate;
}
@keyframes cursor {
  50%{ border-color: rgb(233, 211, 231) ;}
}

/* typing effect */
@keyframes typing {
   from{ width: 0px ;}
}

#Welcome{
  
  /* background-image: url(welcomeimg.avif); */
  background-size: contain;
  background-clip: padding-box;
  /* background-color: rgba(239, 166, 216, 0.71); */
  background: #9290c3;
  width: 110%;
  height: 500px;
  margin-left: -60px;
  margin-top: -55px;

}


.container1 {
  display: flex;
  /* justify-content: center; */
  font-weight: 520;
  font-size: larger;
  padding: 70px;
  margin-top: 10%;
  color: hsl(168, 12%, 8%);
  font-size: large;
  /* font-style: oblique; */
  font-family: "Roboto", sans-serif;
  background: #9290c330;
  border-radius: 15px;
  margin-left: 163px;
  margin-right: 163px;
}
.text-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*responsive*/

@media screen and (max-width: 1367px){
  .HOME{
    /* width: 50%;
    margin-bottom: 30px; */
    flex-direction: column;
    margin-right: 0;
    padding: 0;
}
.home2{
  margin-left: 5vw;
  width: 92vw;

}
#para3{
  font-size: 17px;

}
}
@media screen and (max-width: 800px){
  #para2{
   font-size: large;
  }
  
}
@media screen and (max-width: 600px){
  .ABOUT{
    /* width: 50%;
    margin-bottom: 30px; */
    flex-direction: column;
}
  #para3{
    font-size: 3vw;
  }
  #para2{
    font-size: smaller;

 }
}

@media screen and (max-width: 30px){
  .container1{
    /* width: 50%;
    margin-bottom: 30px; */
    flex-direction: column;
    flex-wrap: wrap ;
}
}

/* 
@media screen and (max-width: 30px){
  .main{
    /* width: 50%;
    margin-bottom: 30px; */
    /* flex-direction: column;
    flex-wrap: wrap ;
}
} */ */




/* @media(max-width: 400px){
  .footer-col{
    width: 100%;
}
} */



