.serv-table {
    display: flex; /* Set display to flex */
    margin-left: 34px;
    margin-right: 20px;
    
}
.bgimg{
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    height: 70vh;
    margin-top: -57px;
    
}


table {
    margin-right: 20px; /* Add margin between the tables */
    width: 100%;
    border: 0cap solid #ded9d9;
          border-spacing: 0cm; text-align: left;
          padding: 9px 20px;
}
.SERVICES{
    padding: auto;
    /* background-color: #070f2b; */
    /* background-color: #191A19; */
    background-image:  linear-gradient(to right bottom,rgba(0, 0, 0, 0.595) 70%,transparent), url('toxic-ewaste-world-photography.jpg'); 
   
}
.para6{
    font-size: larger;
}
.thirdheading{
    padding: 0px;
    /* margin: 1px 42px; */
    margin-top: 0px;
    position: relative;
    text-align: center;
    top: 20%;
    font-size: 3vw;
    left: 3%;
    /* margin-bottom: -14px; */
}

#services{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.serv01{
   
    
    color: aliceblue;
   /* opacity: 0.6; */
    background-size: contain;
    background-clip: padding-box; 
    /* background-image: ; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 10px; 
    margin-right: 20px;
    margin-top: 51px;
    margin-left: 55px; */
   border-radius: 10px;
    width: 94%;
    height: 500px;
    
}
.table1{
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    width: 197vw;
}
.table2{background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    width: 197vw;
}
.table3{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    width: 197vw;
}
.shead{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: x-large;
    color: white;
    /* font-style: italic; */
    /* font-variant: small-caps; */

}
.shead:hover{
    color: #191A19;
}
    


.table {
    border-collapse: separate;
    width: 100%;
}

th, td {
    border: 0cap solid #cd5555;
    border-spacing: 2cm; text-align: left;
    padding: 9px 20px; /* Adjust the padding to increase the gap */
    font-family: "Roboto", sans-serif;
}

th {
    /* background-color: #86ce9771; */
    /* background-color: rgba(213, 184, 211, 0.83); */
    /* background: #9290c3; */
    background-color: #3a984de2;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    
}
/*responsive*/
/* @media(max-width: 1470px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 400px){
    .footer-col{
      width: 100%;
  }
  } */






  @media only screen and (max-width: 600px) {
    .serv01 {
        width: 90vw; /* Make the width full for small screens */
        margin: 20px 0; /* Adjust margins for better spacing */
       
    }
   
    table{
        overflow-x: hidden;
    }
}

@media screen and (max-width: 528px){
    #para2{
        font-size: 3vw;
    }
}

@media screen and (max-width: 982px){
    .content1{
        display: contents;
        
    }
    .para4{
        font-size: 19px;
        margin: 0;
    }
    .para5{
        font-size: 19px;
        margin: 0;
    }
}

@media screen and (max-width: 1300px){
    .bgimg{
        height: auto;
    }
    .serv-table{
        flex-wrap: wrap;
        margin: 32px 25px;
        row-gap: 25px;
        width: 75vw;
        height: auto;
        overflow-y: hidden;
    }

}

@media screen and (max-width: 1043px){
    .container1{
        padding: 20px;
        margin: 0;
        font-size: medium;

    }
    
.content1{
    font-size: 15px;
}

    #para2{
        /* font-size: larger; */
    margin-bottom: 16px;
    }
    .immmg{
        width: auto;
        margin-left: 18px;
    }
    .sec1{
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 35px;
    }
    
    .serv01{
        margin-right: 0;
        margin-top: 0;
        margin-left: 0;
        padding: 0;
    }
}
@media  screen and(max-width:1448px) {
    .home{
        width: 92.9vw;
    }
}

@media only screen and (max-width: 600px) {
    .table1,
    .table2,
    .table3 {
      overflow-x: hidden; /* Enable horizontal scrolling on small screens */

    }
  }

  @media only screen and (max-width: 600px) {
    .serv-table {
      /* overflow-x: auto; Enable horizontal scrolling on small screens */
     flex-wrap: wrap;
     margin: 20px 25px;
     row-gap: 25px;
    }

    .container1{
        display: flex;
        flex-direction: column;
        font-size: small;
    }
  }