*{
    margin: 0;
    padding: 0;
  }

/* body{
    min-height: 100vh;
    background: url('laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } */
  nav{
    /* background-color: #070f2b; */
    background-color: #191A19;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 98%;
    /* height: 6vw; */
    list-style: none;
    display: flex;
    justify-content: inherit;
    align-items: center;
    margin-left: 11px;
    margin-top: 0px;
}
  
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }
  nav a:hover{
    color: #3a984de2;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(14, 13, 13, 0.701);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
    background-color: #070f2b;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
      /* color: white; */
    }

    #Welcome{
      height: 44vh;
    }
    #welcome-text{
      margin-top: 0;
      font-size: 1.5rem;
     }
     .dynamic-txt{
      font-size: 1.2rem;
     }
     #para1{
      padding:0; 
      margin: 80px;
      font-size: large;
     }

  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    /* .para1{
      margin: 0;
      padding: 0;
    } */
    
  }